application: your-app-name
version: 1
runtime: python27
api_version: 1
threadsafe: yes

handlers:
- url: /static
  static_dir: static/
  secure: always
- url: /(?:admin|api)/.*
  script: run.application.admin
  login: admin
  secure: always
- url: /.*
  script: run.application.main
  secure: always

env_variables:
    EDAEMON_COOKIE_KEY: 'generate_a_long_random_string_and_put_it_here'
    # GA_TRACKING_ID: 'UA-OPTIONAL-0'

libraries:
- name: jinja2
  version: "2.6"
- name: markupsafe
  version: "0.15"
- name: webapp2
  version: latest

skip_files:
# defaults
- ^(.*/)?#.*#$
- ^(.*/)?.*~$
- ^(.*/)?.*\.py[co]$
- ^(.*/)?.*/RCS/.*$
- ^(.*/)?\..*$
# custom
- ^(.*/)?\.git.*$
- ^(.*/)?.*\.md$
- ^(.*/)?tests.*$
- ^(.*/)?management_frontend\/.*$
- ^(.*/)?.*\.example$
