{% extends 'layout.htm' %}

{% block title %}Ievadīt izmaiņas{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <h1>Ievadīt izmaiņas</h1>
    </div>
    <div class="col-sm-6 text-right">
        <a href="/admin/#/changes/new?multi" class="h1 btn btn-default disabled" id="js__multi">Multi režīms nav pieejams</a>
    </div>
</div>
<div class="alert alert-warning" id="js__multi-warning">
    Multi režīmam nepieciešams JavaScript. Mēģiniet <a href="/admin/#/changes/new?multi">spiest šeit.</a>
</div>
{% if error is defined %}
<div class="alert alert-danger">
    <strong>Kļūda:</strong> {{ error }}. Lūdzu mēģiniet vēlreiz.
</div>
{% endif %}
<form action="/admin/changes/new" method="POST">
    <input type="hidden" name="noscript-submit" value="true" />
    <input type="hidden" name="_xsrf" value="{{ xsrf }}" />
    <div class="form-horizontal">
        <div class="form-group">
            <label for="class-name" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 control-label text-right">Klase:</label>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
                <input type="text" class="form-control" id="class-name" name="class-name" placeholder="piemēram: 1.z" />
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 control-label text-right">Datums (GGGG-MM-DD):</label>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
                <input type="text" class="form-control" id="date" name="date" placeholder="piemēram: {{ today }}" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="lesson-0" class="col-xs-1 control-label text-right">0.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-0" name="lesson-0" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-1" class="col-xs-1 control-label text-right">1.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-1" name="lesson-1" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-2" class="col-xs-1 control-label text-right">2.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-2" name="lesson-2" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-3" class="col-xs-1 control-label text-right">3.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-3" name="lesson-3" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-4" class="col-xs-1 control-label text-right">4.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-4" name="lesson-4" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-5" class="col-xs-1 control-label text-right">5.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-5" name="lesson-5" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-6" class="col-xs-1 control-label text-right">6.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-6" name="lesson-6" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-7" class="col-xs-1 control-label text-right">7.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-7" name="lesson-7" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lesson-8" class="col-xs-1 control-label text-right">8.</label>
                    <div class="col-xs-11">
                        <input type="text" class="form-control" id="lesson-8" name="lesson-8" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Pievienot
    </button>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function() {
        $('#js__multi').removeClass('disabled');
        $('#js__multi').text('Pārslēgties uz multi režīmu');
        $('#js__multi-warning').remove();
        // so, if js is disabled, the warning remains visible
    });
</script>
{% endblock %}
