<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Edaemon</a>
            {% if users.is_current_user_admin() %}
            <a href="/admin/" class="navbar-toggle">
                Pārvaldīšana
            </a>
            {% endif %}
        </div>

        {% if not _empty_navbar %}
            {% if users.get_current_user() %}
            <ul class="nav navbar-nav">
                {% if users.is_current_user_admin() %}
                <li><a href="/admin/">Pārvaldīšana</a></li>
                {% endif %}
            </ul>
            {% if not users.is_current_user_admin() %}
            <p class="navbar-text navbar-left">Pārvaldīšana nav pieejama</p>
            {% endif %}
            {% endif %}
        {% endif %}
    </div>
</nav>
