{% extends 'layout_new.htm' %}

{% block title %}Visas izmaiņas{% endblock %}

{% block body %}
    <h1>Visas izmaiņas</h1>
    <ul id="js__all-changes">
        {% for change in changes %}
            <li data-id="{{ change.key.urlsafe() }}">
                <button class="btn btn-danger btn-xs disabled" data-do="delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <a class="btn btn-default btn-xs"
                    href="/admin/changes/{{ change.key.urlsafe() }}/edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="/admin/changes/{{ change.key.urlsafe() }}">
                    Datums: {{ change.for_date }}, klase: {{ change.for_class }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
require(['/admin/static/_require_config.js'], function() {
    require(['change_list'], function(ChangeList) {
        ChangeList.attach(
            $('#js__all-changes'),
            {{ changes_json | safe }}
        );
    });
});
</script>
{% endblock %}
