{% extends 'layout.htm' %}

{% block title %}Dzēstās izmaiņas{% endblock %}

{% block body %}
    <h1>Dzēstās izmaiņas</h1>
    {% if has_changes %}
    <ul id="js__deleted-changes">
        {% for change in changes %}
            <li data-id="{{ change.key.urlsafe() }}">
                <button class="btn btn-default btn-xs disabled" data-do="undelete">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
                Datums: {{ change.for_date | e }}, klase: {{ change.for_class | e }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-muted">
        Te parādās dzēstās izmaiņas, un no šejienes tās var atjaunot atpakaļ.
    </p>
    <p class="text-muted">
        Ja tās netiek atgrieztas 3 dienu laikā, tās tiek izdzēstas neatgriezeniski.
    </p>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if has_changes %}
<script>
    require(['/admin/static/_require_config.js'], function() {
        require(['components/deleted_change_list'], function(DeletedChangeList) {
            DeletedChangeList.attach(
                $('#js__deleted-changes'),
                {{ changes_json | safe }}
            );
        });
    });
</script>
{% endif %}
{% endblock %}
