{% extends 'layout_new.htm' %}

{% block title %}Ievadīt izmaiņas{% endblock %}

{% block stylesheets %}
{{ super() }}
<style>
    .row {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Ievadīt izmaiņas</h1>
    <div data-placeholder="ChangeEntryPane">Notiek ielāde, lūdzu uzgaidiet...</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
require(['/admin/static/_require_config.js'], function() {
    require(['components/change_add'], function(ChangeAddView) {
        new ChangeAddView({
            el: document.querySelector('[data-placeholder="ChangeEntryPane"]')
        }).render();
    });
});
</script>
{% endblock %}
