{% extends 'layout_new.htm' %}

{% block title %}Ievadīt izmaiņas{% endblock %}

{% block stylesheets %}
{{ super() }}
<style>
    .row {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Ievadīt izmaiņas</h1>
    <div data-placeholder="ChangeEntryPane">Notiek ielāde, lūdzu uzgaidiet...</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
require(['/admin/static/_require_config.js'], function() {
    require(['components/change_add', 'utils/settings'],
    function(ChangeAddView, Settings) {
        Promise.all([
            Settings.get('cozyMode'),
            Settings.get('fixedHeight')
        ])
        .then(function(res_tuple) {
            new ChangeAddView({
                el: document.querySelector('[data-placeholder="ChangeEntryPane"]'),

                cozyMode: res_tuple[0],
                fixedHeight: res_tuple[1]
            }).render();
        });
    });
});
</script>
{% endblock %}
