{% extends 'layout.htm' %}

{% block title %}Lietotāja iestatījumi{% endblock %}

{% block body %}
    <h1>Lietotāja iestatījumi</h1>
    <div data-placeholder="UserSettingsPane">Notiek ielāde, lūdzu uzgaidiet…</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
require(['/admin/static/_require_config.js'], function() {
    require(['utils/settings', 'components/settings_view'],
    function(Settings, SettingsView) {
        Settings.getAll()
        .then(function(settings) {
            SettingsView.attach(
                $('[data-placeholder="UserSettingsPane"]'),
                settings
            );
        })
    });
})
</script>
{% endblock %}
